/* Extra Small Device */
@media  (min-width:320px) and (max-width:575px) {


    h1{
        font-size: 34px;
        line-height:41px;
    }
    h2{
        font-size: 28px;
        line-height: 34px;
    }
    h4{
        font-size:18px;
        line-height:24px;
    }
    p{
        font-size: 16px;
        line-height: 28px;
    }
    .header__area{
        padding-top:25px;
        background:url(../images/banner__bg-sm.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    /* Main Menu Start */

    .menu__wrapper{
        padding: 8px 0;
    }
    .menu__btn{
        flex-direction:column;
        align-items:flex-start;
    }
    .login__btn{
        padding: 0.5rem 0;
        margin-right: 0;
        margin-bottom: 8px;
    }

    /* Main Menu End */

    /* Banner Area Start */
    .banner__area{
        padding: 40px 0;
    }
    .banner__row {
        min-height: 650px;
    }
    .banner__description{
        font-size: 16px;
        line-height: 28px;
    }
    .banner__btn{
        padding-top: 40px;
    }
    .banner__img{
        min-height: 350px;
    }
    .banner__img img{
        top: unset;
        bottom:100px;
        width:325px;
    }
    .dot__img{
        display: none;
    }
    /* Banner Area End */

    /* Connect With Apps Area Start */
    .browse__btn{
        margin-top: 32px;
    }
    .connect__with-apps-img,
    .real__time-chat-img{
        margin-top: 50px;
    }
    /* Connect With Apps Area End */

    /* Real Time chat Area Start */
    .half__cirlc-image{
        width:26%;
        top:-20%;
    }
    
    /* Real Time chat Area Start */

    /*Package Area Started*/
    .pricing__area {
        background: url(../images/package-banner.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .pricing__content h2{
        padding: 0;
    }
    .pricing__content p{
        padding:10px 36px 0 36px;
    }
    .basic__plan{
        margin:32px 0;
    }
    .free-advance__plan{
        background-size: 100% 32%;
    }
    /*Package Area End*/

    /* Article Area Start */
    .article__area{
        min-height:1250px;
    }
    .all__articles{
        display: none;
    }
    .article__card{
        padding: 16px;
        margin-bottom: 24px;
    }
    .card__left{
        width: 42%;
    }
    .card__right h4{
        line-height:24px;
    }
    .card__right {
        width: 56%;
        padding-left: 8%;
    }
    .card__right p{
        font-size:13px;
        line-height:19px;
    }
    .post__time{
        padding-top: 8px;
    }
    .single__article{
        padding-right: 0;
    }

    .all__articles-sm .slick-prev,
    .all__articles-sm .slick-next{
        right: 25px;
        bottom: -40px;
        top: unset;
    }
    .all__articles-sm .slick-prev{
        left: unset;
        right:75px;
    }

    .all__articles-sm .slick-prev:before,.all__articles-sm .slick-next:before{
        color: #C08DFF;
        transition: all 0.4s ease-in-out;
    }
    .all__articles-sm .slick-prev:hover:before,.all__articles-sm .slick-next:hover:before{
        color: #8828FF;
    }

    /* Article Area End */

    /* Productivity Area Start */
    .productivity__area{
        min-height: 450px;
    }
    .productivity-img{
        top: 75px;
        width:100%;
        left: 0;
    }
    /* Productivity Area End */

    /* Testimonial Area Start */
    .testimonial__area {
        padding-top: 180px;
        background: url(../images/testimonial-bg-sm.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
    .testimonial__card-column{
        position:static;
        right: unset;
    }
    .testimonial__items{
        display: none;
    }
    .testimonial__card{
        margin-bottom: 24px;
    }
    .testimonial__items-sm{
        padding-top: 32px;
    }

    .testimonial__items-sm .slick-prev,
    .testimonial__items-sm  .slick-next{
        right: 25px;
        bottom: -40px;
        top: unset;
    }
    .testimonial__items-sm  .slick-prev{
        left: unset;
        right:75px;
    }

    .testimonial__items-sm .slick-prev:before, .testimonial__items-sm .slick-next:before{
        color: #fff;
        transition: all 0.4s ease-in-out;
    }
    .testimonial__items-sm .slick-prev:hover:before,.testimonial__items-sm .slick-next:hover:before{
        color: #8828FF;
    }
    /* Testimonial Area End */

    /* Footer Area Start */
    .footer__area{
        padding-top:72px;
        padding-bottom: 24px;
    }
    .footer__description {
        max-width: 275px;
    }
    .made__with{
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .useful__links ul li a, .our__product ul li a, .about__us ul li a{
        font-size:16px;
        line-height: 26px;
    }
    .copyright__text{
        font-size:18px;
        margin-top: 16px;
        margin-bottom: 0;
    }
    .about__us ul li:last-child{
        margin-top: 32px;
    }
    .our__product{
        margin-top: -43px;
    }
    /* Footer Area End */

}

@media (min-width:576px) and (max-width:767px) {
    
}

@media (min-width:768px) and (max-width:991px) {
    
}

@media (min-width:992px) and (max-width:1199px) {}


@media (min-width: 1200px) and (max-width: 1439px) {
    
}




@media (min-width:1440px) and (max-width:1599px) {

    /* Banner Area Start */
    .dot__img{
        bottom: 20%;
        left: 50%;
    }
    /* Banner Area End */

    /* Article Section Start */
    .article__area{
        min-height: 760px;
    }
    .single__article {
        padding-right: 24px;
    }.article__card{
        padding: 24px;
    }
    .card__left {
        width: 40%;
    }
    .card__right {
        width: 56%;
        padding-left: 5%;
    }
    .card__right p{
        margin-bottom: 0;
    }

    .all__articles-column{
        transform: scale(1.06);
        right:-95px;
    }
    
    .all__articles .slick-prev,
    .all__articles  .slick-next{
        right: 175px;
        bottom: -60px;
        top: unset;
    }
    .all__articles  .slick-prev,
    .all__articles .slick-prev{
        left: unset;
        right:225px;
    }

    .all__articles  .slick-prev:before,.all__articles  .slick-next:before{
        color: #C08DFF;
        transition: all 0.4s ease-in-out;
    }
    .all__articles  .slick-prev:hover:before,.all__articles  .slick-next:hover:before{
        color: #8828FF;
    }
    
    /* Article Section End */

    /* Testimonial section Start */
    .testimonial__card-column{
        right: -125px;
        width: 62%;
    }
    
    .testimonial__items .slick-prev,
    .testimonial__items  .slick-next{
        right: 175px;
        bottom: -60px;
        top: unset;
    }
    .testimonial__items  .slick-prev{
        left: unset;
        right:225px;
    }

    .testimonial__items  .slick-prev:before,.testimonial__items  .slick-next:before{
        color: #fff;
        transition: all 0.4s ease-in-out;
    }
    .testimonial__items  .slick-prev:hover:before,.testimonial__items  .slick-next:hover:before{
        color: #8828FF;
    }
    /* Testimonial section End */

}



@media (min-width:1600px) and (max-width:1799px) {
    /* Banner Area */
    .banner__area{
        padding:120px 0;
    }
    .banner__img img{
        top: 120px;
    }
    .header__area{
        background-position: center bottom;
    }
    /* Banner Area Start */
    .dot__img{
        bottom: 22%;
        left: 54%;
    }
    /* Banner Area End */

    /* Article Area Start */
    .single__article{
        padding-right: 24px;
    }
    .article__card{
        padding: 24px;
    }
    .all__articles .slick-prev,
    .all__articles  .slick-next{
        right: 175px;
        bottom: -60px;
        top: unset;
    }
    .all__articles  .slick-prev,
    .all__articles .slick-prev{
        left: unset;
        right:225px;
    }

    .all__articles  .slick-prev:before,.all__articles  .slick-next:before{
        color: #C08DFF;
        transition: all 0.4s ease-in-out;
    }
    .all__articles  .slick-prev:hover:before,.all__articles  .slick-next:hover:before{
        color: #8828FF;
    }
    /* Article Area End */

    /* Productivity Area*/
    .productivity__area{
        padding-top: 0;
        padding-bottom: 120px;
        min-height:575px;
    }
    /* Productivity Area*/

    /* Testimonial Area*/
    .testimonial__card-column{
        right: -125px;
        width: 60%;
    }
    .testimonial__card p{
        max-width:335px;
    }
    .testimonial__items .slick-prev,
    .testimonial__items  .slick-next{
        right: 175px;
        bottom: -60px;
        top: unset;
    }
    .testimonial__items  .slick-prev{
        left: unset;
        right:225px;
    }

    .testimonial__items  .slick-prev:before,.testimonial__items  .slick-next:before{
        color: #fff;
        transition: all 0.4s ease-in-out;
    }
    .testimonial__items  .slick-prev:hover:before,.testimonial__items  .slick-next:hover:before{
        color: #8828FF;
    }
    /* Testimonial Area*/
}


@media (min-width:1800px) {
    /* Banner Area */
    .banner__area{
        padding:150px 0;
    }
    .banner__img img{
        top: 150px;
    }
    .header__area{
        background-position: center bottom;
    }
}